---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

<!-- Filtros -->
<div id="filters">
  <button class="filter-button" data-tag="">All</button>
  {% assign tags = site.talks | map: 'tags' | flatten | uniq %}
  {% for tag in tags %}
    <button class="filter-button" data-tag="{{ tag }}">{{ tag }}</button>
  {% endfor %}
</div>

<!-- Talks -->
<div id="posts">
  {% for post in site.talks reversed %}
    <div class="post" data-tags="{{ post.tags | join: ' ' }}">
      {% include archive-single-talk.html %}
    </div>
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const filters = document.querySelectorAll('#filters .filter-button');
    const posts = document.querySelectorAll('#posts .post');

    filters.forEach(button => {
      button.addEventListener('click', () => {
        const tag = button.dataset.tag;
        posts.forEach(post => {
          if (post.dataset.tags.includes(tag) || tag === '') {
            post.style.display = 'block';
          } else {
            post.style.display = 'none';
          }
        });
      });
    });
  });
</script>

<style>
  #filters {
    margin-bottom: 20px;
  }

  .filter-button {
    margin: 5px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  .filter-button:hover {
    color: #d5d9f7;
    border-bottom: 2px solid #d5d9f7;
  }

  .filter-button:focus {
    outline: none;
  }
</style>
