{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';

  document.addEventListener('DOMContentLoaded', function() {
    var copyLinkButton = document.getElementById('copyLinkButton');
    var copySuccessMessage = document.getElementById('copySuccessMessage');

    if (copyLinkButton && copySuccessMessage) {
      copyLinkButton.addEventListener('click', function() {
        var pageUrl = '{{ base_path }}{{ page.url }}';

        if (pageUrl) {
          navigator.clipboard.writeText(pageUrl).then(function() {
            copySuccessMessage.style.display = 'block';
            setTimeout(function() {
              copySuccessMessage.style.display = 'none';
            }, 3000);
          }).catch(function(err) {
            console.error('Failed to copy text: ', err);
          });
        } else {
          console.error('Page URL is empty');
        }
      });
    } else {
      console.error('Copy link button or success message element not found');
    }
  });
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">