/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: transparent;
  backdrop-filter: blur(10px);
  height: $masthead-height;
  top: 0;
  width: 100%;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 20;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
      color: #333;
      transition: color 0.3s;

      &:hover {
        color: #c8ba52;
      }
    }
  }
}

.masthead.scrolled {
  transition: background 0.1s;
  background: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  a {
    color: #fff;

    &:hover {
      color: #d5d9f7;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 3em;
    font-weight: 700;
  }
}

/* ==========================================================================
  Scroll Effect
  ========================================================================== */

body {
  transition: padding-top 1s ease-in-out;
  padding-top: $masthead-height;
}